@import url("imports.css");

/* Global Settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font: 300 15px/1.5 'museo-sans', 'Open Sans', sans-serif;
  color: #eef;
  background: rgb(237, 189, 153);
}
a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
a:active {
  outline: 0;
}
h1 {
  margin: 0;
  color: #6af;
  font-weight: normal;
  text-transform: uppercase;
}
.hide, .menu, .connect, .share {
  display: none;
}
.hidden {
  position: absolute;
  top: -9999999px;
  left: -9999999px;
  visibility: hidden;
  opacity: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

/* Navigation */
.navbar, .menu, .connect, .share {
  background: #000;
}
.navbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #00aeef;
  font: 20px arial;
  color: #fff;
  text-align: right;
  padding: 15px;
}
.navbar a {
  padding: 15px;
  font-size: 24px;
}
.navbar a:hover {
  color: #00eeef;
}
.navbar a:active, .navbar a:visited, .active, a.active:hover,
.menu a:hover, .connect a:hover, .share a:hover {
  color: #00aeef!important;
}
#donate {
  border-left: 1px solid #00aeef;
}
.head {
  font-family: 'Orbitron', latin;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0 0 15px!important;
}
.menu a, .connect a, .share a {
  display: block;
  padding: 15px;
  font-size: 24px;
}
.menu, .connect, .share {
  position: absolute;
  bottom: 54px;
}

/* Display Area */
.display {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 54px;
  overflow: auto;
}
.display a {
  text-decoration: underline;
}
.introduction {
  cursor: default;
  text-align: center;
  background: #fff;
  background: -moz-radial-gradient(center, ellipse cover, #fff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-radial-gradient(center, ellipse cover, #fff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-radial-gradient(center, ellipse cover, #fff 0%, #f6f6f6 47%, #ededed 100%);
  background: radial-gradient(ellipse at center, #fff 0%, #f6f6f6 47%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100, finishopacity=90, style=2);
  color: #000;
  font-family: "Numans", latin;
}
.introduction h1, .introduction h2 {
  color: #6af;
  font-weight: normal;
  text-shadow: -2px -2px 2px #fff, 0 0 2px #000;
}
.services {
  text-align: center;
  background: #FFD4B1;
  padding: 26px 2em;
  color: #000;
}
.services-separator {
  text-align: center;
  color: #CBAA90;
  padding-bottom: .25em;
  margin-bottom: 1em;
  border-bottom: 1px solid #000;
  text-shadow: -1px -1px 1px #369, 0 0 2px #fff;
}
.services p {
  color: #000;
}
#prices {
  text-align: left;
}
#prices a {
  color: #000;
}
#prices a:hover {
  color: #960;
}
.gallery {
  text-align: center;
  background: #B5F2C5;
  color: #000;
}
.gallery h1 {
  padding: 26px 2em;
  color: #90CB9B;
  border-bottom: 1px solid #000;
  text-shadow: -1px -1px 1px #369, 0 0 2px #fff;
}
.livechat {
  text-align: center;
  /* background: #FFD4B1; */
  background: #B5F2C5;
  color: #000;
}
.chatTitle {
  padding: 26px 2em;
}
.livechat h1 {
  padding: 0 2em;
  color: #CBAA90;
  border-bottom: 1px solid #000;
  text-shadow: -1px -1px 1px #369, 0 0 2px #fff;
}
.livechat a {
  color: #a66;
}
.livechat a:hover {
  color: #000;
}
.collaboration {
  text-align: center;
  background: #6af;
  padding: 26px 2em;
}
.collaboration h1 {
  padding-bottom: .25em;
  margin-bottom: 1em;
  color: #adf;
  border-bottom: 1px solid #adf;
  text-shadow: -1px -1px 1px #369, 0 0 2px #fff;
}
.resetgridframe {
  width: 48%;
}
.resetframe {
  width: 90%;
}

/* Grids*/
article {
  display: table;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
section {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
section img {
  width: 80%;
}
.me {
  max-width: 278px;
}

/* Breakpoints for Responsive Design */
@media all and (max-width:600px) {
  .me {
    max-width: 50%;
  }
}
@media all and (max-width:545px) {
  .head {
    display: none;
  }
  .navbar {
    text-align: center;
  }
  .navbar a {
    padding: 15px;
    margin: 0 auto;
  }
  #donate {
    border-left: 0;
  }
}
